<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/upload-file" method="get">
      <button type="submit">upload file</button>
    </form>

    <%= if (locals.files) { %>
        <ul>
            <% files.forEach(file=> { %>
            <li>
                <%= file.name %>
            </li>
            <% }); %>
        </ul>
    <% } %>
  </body>
</html>
